.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include for-phone-only {
    flex-direction: column;
    align-items: center;
  }

  &-item {
    padding-top: $gutter;
  }
}
