.main {
  .container {
    @include for-phone-only {
      padding: 0 $gutter;
    }
    @include for-tablet-up {
      padding: 0 $gap;
    }
  }
  .main-title {
    margin-bottom: $gutter;
  }
  .main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;


    &-item {
      display: flex;
      flex-direction: column;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      box-sizing: border-box;
      transition: all 0.2s;
      &:hover {
        box-shadow: 0 0 30px rgba(50, 50, 50, .5);
        transform: scale(1.02);
      }

      @include for-phone-only {
        width: 100%;
        margin-bottom: calc(#{$gap} / 2);
      }
      @include for-tablet-up {
        width: calc((100% - 1 * #{$gap}) / 2 );
        margin-bottom: $gap;
      }
      @include for-desktop-up {
        width: calc((100% - 2 * #{$gap}) / 3 );
      }
      @include for-big-desktop-up {
        width: calc((100% - 3 * #{$gap}) / 4 );
      }

      .thumbnail {
        width: 100%;
        padding-top: 49%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        background-color: $color-card-bg;
        padding: $gutter;

        &-course-name {
          color: $color-text-title;
        }

        &-buttons {
          display: flex;
          justify-content: space-between;
          .button {
            width: calc(50% - #{$gutter} / 2);
          }
          .button-demo {
            background-color: $color-javascript;
          }
          .button-github {
            background-color: #f5f5f5;
          }
        }

        &-course-tags {
          margin-top: 15px;
          margin-bottom: 15px;
          .tag {
            font-size: 0.8em;
            color: $color-text-article;
          }
          .tag0 {
            color: #e6194B;
          }
          .tag1 {
            color: #3cb44b;
          }
          .tag2 {
            color: #ffe119;
          }
          .tag3 {
            color: #4363d8;
          }
          .tag4 {
            color: #f58231;
          }
          .tag5 {
            color: #911eb4;
          }
        }
      }
    }
  }
}

@include card_hover("01");
@include card_hover("02");
@include card_hover("03");
@include card_hover("04");
@include card_hover("05");
@include card_hover("06");
@include card_hover("07");
@include card_hover("08");
@include card_hover("09");
@include card_hover("10");
@include card_hover("11");
@include card_hover("12");
@include card_hover("13");
@include card_hover("14");
@include card_hover("15");
@include card_hover("16");
@include card_hover("17");
@include card_hover("18");
@include card_hover("19");
@include card_hover("20");
@include card_hover("21");
@include card_hover("22");
@include card_hover("23");
@include card_hover("24");
@include card_hover("25");
@include card_hover("26");
@include card_hover("27");
@include card_hover("28");
@include card_hover("29");
@include card_hover("30");

@include thumbnail("01");
@include thumbnail("02");
@include thumbnail("03");
@include thumbnail("04");
@include thumbnail("05");
@include thumbnail("06");
@include thumbnail("07");
@include thumbnail("08");
@include thumbnail("09");
@include thumbnail("10");
@include thumbnail("11");
@include thumbnail("12");
@include thumbnail("13");
@include thumbnail("14");
@include thumbnail("15");
@include thumbnail("16");
@include thumbnail("17");
@include thumbnail("18");
@include thumbnail("19");
@include thumbnail("20");
@include thumbnail("21");
@include thumbnail("22");
@include thumbnail("23");
@include thumbnail("24");
@include thumbnail("25");
@include thumbnail("26");
@include thumbnail("27");
@include thumbnail("28");
@include thumbnail("29");
@include thumbnail("30");
