// SIZE
$max-width-big-desktop: 1800px;
$max-width-desktop: 1200px;
$max-width-tablet: 768px;
$max-width-mobile: 400px;
$gutter: 20px;
$gap: 48px;

// COLOR
$color-bg: #1A1A1A;
$color-javascript: #f7df1e;
$color-card-bg: #252525;
$color-text-title: #FAFAFA;
$color-text-button: #333333;
$color-text-article: #DDDDDD;

// FONT & TYPOGRAPHY
$font-family: 'Inter', Arial, sans-serif;;
$font-size: 18px;

