// COLOR
$color-bg: #1A1A1A;
//$color-primary: #BADA55;
$color-primary: #f7df1e;
$color-card-bg: #252525;
$color-card-border-hover: #3E3E3E;
$color-card-border-focus: #999999;
$color-text-title: #FAFAFA;
$color-text-article: #DDDDDD;

// FONT & TYPOGRAPHY
$font-family: 'Inter', Arial, sans-serif;;
$font-size: 18px;

